@import url('http://fonts.cdnfonts.com/css/roboto');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* resetando */
body, p, a, ul, li {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

li {
    list-style-type: none;
}

/* base estilo */
body {
    background-color: #000000;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
}

header {
    /* position: relative; */
    display: flex;
    justify-content: space-between;
    padding: 25px 20px;
    background-image:
    linear-gradient(to bottom, rgb(79, 3, 3), rgba(79, 3, 3, 0.4));
}

/* fontes */
@font-face {
    font-family: 'Roboto', sans-serif;
    src: url("assets/fonts/Roboto.ttf") format("ttf"),
}

h1, h2 {
    color: #DDDBFF;
    font-weight: normal;
    line-height: 1.4em;
}

p, a, li {
    color: #ffffff;
    line-height: 1.4em;
    font-size: 1.2em;
}

h1 {
    font-size: 1.2em;
}

h3 {
    color: #000000;
    font-size: 3.6em;
}

/* mobile styles */
.nav {
    margin: 0 20px;
}

.nav ul {
    display: none;
}

main {
    padding-top: 150px;
    width: 85%;
    height: auto;
    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}

.banner {
    width: 100%;
    height: 500px;

}

.foto-filme>img {
    width: 100%;
    height: 500px;

}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 90%;
    height: 100%;
}

.title p {
    color: #000000;
}

.title h1 {
    color: #000000;
}

.classificacao {
    width: 90%;
    height: 40px;
    padding-right: 40px;
}

footer {
    padding: 20px 20px;
    background-color: #171717;
    background-size: 40%;
    background-position: top center;
}

footer .desenvolvedores {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.7em;
}

footer .social {
    grid-column: 7/9;
    display: flex;
    justify-content: flex-start;
    gap: 5px;
}

footer li {
    display: flex;
    margin: 0 6px;
}

footer img {
    width: 24px;
}

.copyright {
    grid-column: 1/4;
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.9em;
}

/* para Celular */
@media only screen and (max-width: 465px) and (min-width: 375px) {

    footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-size: 20%;
    }

    .copyright {
        background-color: #171717;
        padding: 10px 0 20px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .desenvolvedores p {
        font-size: 15px;
    }

    .responsaveis p {
        color: rgba(255, 255, 255, 0.5);
        font-size: 12px;
    }

    .copyright {
        font-size: 12px;
    }
}

/* para tablet e laptop */
@media only screen and (min-width: 768px) {

    body {
        font-size: 18px;
    }

    .nav {
        padding: 0 20px;
    }

    .nav h1 {
        grid-column: 1/3;
    }

    .nav ul {
        display: flex;
        grid-column: 6/9;
        justify-content: flex-end;
        align-self: center;
        font-size: 12px;
    }

    .nav li {
        margin-left: 20px;
    }

    footer {
        display: flex;
        flex-direction: row;

        justify-content: space-between;
        padding: 10px 20px;
        background-color: #000000;
        background-size: 30%;
        background-position: top center;
    }

    .rodape1 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .rodape2 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .rodape3 {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .desenvolvedores p {
        font-size: 15px;
    }

    .responsaveis p {
        color: rgba(255, 255, 255, 0.5);
        font-size: 12px;
    }

    .copyright {
        font-size: 12px;
    }
}

/* para desktop */
@media screen and (min-width: 1200px) {

    header {
        position: fixed;
        top: 0;
        width: 77%;
        display: flex;
        justify-content: space-between;
        margin: 0 200px;
        padding: 20px 20px;
        background-image:
            linear-gradient(to bottom, rgb(79, 3, 3), rgb(32, 2, 2));
    }

    .nav {
        width: 30%;
        padding: 0;
    }

    main {
        padding: 140px 200px 0px
    }

    footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 30px 220px;
        background-color: #000000;
        background-size: 30%;
        background-position: top center;
    }

    .rodape1 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .rodape2 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .rodape3 {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .social {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .desenvolvedores p {
        font-size: 20px;
    }

    .responsaveis p {
        color: rgba(255, 255, 255, 0.5);
        font-size: 15px;
    }

    .copyright {
        display: flex;
        align-items: flex-start;
        padding: 10px 220px 20px;
        font-size: 12px;
    }
}