@import url('http://fonts.cdnfonts.com/css/roboto');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
  position: relative;
  background-color: black;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
header {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  padding: 25px 20px;
}
.nav ul li a {
  display: flex;
  text-decoration: none;
  color: black;
}

html{
  scroll-behavior: smooth;
}

main {
  padding-top: 150px;
  width: 1500px;

  background-color: rgb(234, 234, 234);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
}
#orfa{
  width: 100%;
  height: 150px;
  background-color: black;

}
#thor{
  width: 100%;
  height: 150px;
  background-color: black;
}
#ingresso{
  width: 100%;
  height: 150px;
  background-color: black;
}
#telefone{
  width: 100%;
  height: 150px;
  background-color: black;
}
#avatar{
  width: 100%;
  height: 150px;
  background-color: black;
}
#pitada{
  width: 100%;
  height: 150px;
  background-color: black;
}
#avatar2{
  width: 100%;
  height: 150px;
  background-color: black;
}

.banner {
  width: 100%;
  height: 500px;
  
}
.foto-filme > img {
  width: 100%;
  height: 500px;

}
.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  width: 90%;
  height: 100%;
}
.classificacao {
    width: 90%;
    height: 40px;
    padding-right: 40px;
}
.title h1 {
  width: 90%;
  font-size: 50px;
}
.title p {
    padding: 20px;
    font-size: 20px;
}
.video {
    width: 900px;
    height: 550px;
    display: flex;
    align-items: center;
}
iframe {
  width: 900px;
  height: 550px;
  margin-bottom: 20px;
}


/*Footer*/

footer {
  padding: 20px 20px;
  background-color: #171717;
  background-size: 40%;
  background-position: top center;
}

footer .desenvolvedores {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.7em;
}

footer .social {
  grid-column: 7/9;
  display: flex;
  justify-content: flex-start;
  gap: 5px;
}

footer li {
  display: flex;
  margin: 0 6px;
}

footer img {
  width: 24px;
}

.copyright {
  grid-column: 1/4;
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.9em;
}
footer{
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 20px 20px;
    background-color: black;
    background-size: 40%;
    background-position: top center;
}
footer .desenvolvedores{
    color: rgb(173, 169, 169);
    font-size: 0.7em;
}
footer .social{
    grid-column: 7/9;
    display: flex;
    justify-content: center;

}
footer li{
    display: flex;
    margin: 0 6px;
}
footer img{
    width: 24px;
}
.rodape .aluno {
    color: rgb(173, 169, 169);
    padding: 5px;
}
.social li a {
    text-align: center;
}
.copyright{
    grid-column: 1/4;
    color: rgb(173, 169, 169);
    font-size: 0.9em;
  }

  /* para Celular */  
  @media screen and (min-width: 463px){
  
    #welcome h1{
      text-align: start;
      margin: 4em 0 0;
      font-size: 65px;
      font-weight: bold;
      color: #FFC200;
    }
    .welcome-text p{
      text-align: center;
      font-size: 20px;
    }
    .welcome-text a{
      text-align: center;
    }
    footer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-size: 20%;
    }
  
    .copyright {
      background-color: #000000;
      padding: 10px 0 20px 0;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .desenvolvedores p {
      font-size: 15px;
    }
  
    .responsaveis p {
      color: rgba(255, 255, 255, 0.5);
      font-size: 12px;
    }
  
    .copyright {
      font-size: 12px;
    }
  }
  
  /* para tablet e laptop */
  @media screen and (min-width: 960px){
  
    body{
      font-size: 18px;
    }
    .convite{
      margin: 20px 0;
    }
    .nav{
      padding: 0 20px;
    }
    .nav h1{
      grid-column: 1/3;
    }
    .nav ul{
      display: flex;
      grid-column: 6/9;
      justify-content: flex-end;
      align-self: center;
    }
    .nav li{
      margin-left: 20px;
    }
    .welcome-text{
      grid-column: 1/5;
      align-self: center;
    }
    #welcome{
      padding-bottom: 40px;
    }
    footer{
      background-size: 20%;
      padding: 40px 20px;
    }
    .rodape{
      max-width: 1060px;
      margin: 0 auto;
      width: 100%;
    }

    .copyright {
      margin: 20px 0px 10px 20px;
      font-size: 12px;
    }
  }
  
  /* para desktop */
    @media screen and (min-width: 1200px){
  
      header {
        position: absolute;
        top: 0;
        width: 7%;
        display: flex;
        justify-content: space-between;
        margin: 0 200px;
        padding: 20px 20px;
        background-image:
        linear-gradient(to bottom, rgb(79, 3, 3), rgb(32, 2, 2));
      }
    .nav{
      padding: 0;
    }

    main {
      padding: 127px 200px 0px
    }
    #minion{
      padding: 0px 1500px 0px
    }
    #orfa{
      padding: 0px 1500px 0px
    }
    #thor{
      padding: 0px 1500px 0px
    }
    #ingresso{
      padding: 0px 1500px 0px
    }
    #telefone{
      padding: 0px 1500px 0px
    }
    #avatar{
      padding: 0px 1500px 0px
    }
    #pitada{
      padding: 0px 1500px 0px
    }
    #avatar2{
      padding: 0px 1500px 0px
    }
  
    #welcome {
      padding: 1px 250px;
      height: 975px;
    }

    footer {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 30px 220px;
      background-color: #000000;
      background-size: 30%;
      background-position: top center;
    }
  
    .rodape1 {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
  
    .rodape2 {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .rodape3 {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }
  
    .social {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  
    .desenvolvedores p {
      font-size: 20px;
      color: white;
    }
  
    .responsaveis p {
      color: rgba(252, 252, 252, 0.5);
      font-size: 15px;
    }
  
    .copyright {
      display: flex;
      width: 1540px;
      align-items: flex-start;
      padding: 10px 25px 20px;
      font-size: 12px;
    }
  }