    *{
        margin:0;
        padding:0;
        
    }
    html, body{
        height:100%;
        
    }
    
    body{
        background-image:url(../img/banner-movie.jpg);
        background-position:center;
        background-size:cover;
        background-blend-mode:soft-light;
    }
    
    .heading{
        width:600px;
        height:300px;
        margin:auto;
        position:absolute;
        top:0px; bottom:0px; right:0px; left:0px;
    }
    .title1{
        display: block;
        text-align: center;
        color:#FFC200;
        font-size:80pt;
        font-family: 'Roboto', sans-serif;
        text-shadow: 2px 3px 4px rgba(0,0,0);
    }
    #title2{
        display:block;
        margin-top:15px;
        text-align: center;
        color:white;
        font-size:20pt;
        font-family: 'Anonymous Pro', monospace;
    }

    @import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);
    @import url('https://fonts.googleapis.com/css?family=Raleway:300,400');
      *{
        margin: 0;
      }
      .typewriter {
        font-family: 'Anonymous Pro', monospace;
        width: 70%;  
      }
      h1 {
        overflow: hidden;
        margin: 0 auto;
        display: inline-block;
            font-weight: normal;
    
      }
      h1:after{
       content: '';
        display: inline-block;
        background-color: white;
        margin-left: 2px;
        height: 25px;
        width: 4px;
        animation: cursor 0.4s infinite;
      }
    
      /* The typewriter cursor effect */
      @keyframes cursor {
        0% { opacity: 1; }
          49% { opacity: 1; }
          50% { opacity: 0; }
          100% { opacity: 0; }
      }

    .register{
        margin: 50px auto;
        display:block;
        width:180px;
        height:50px;
        border:3px solid white;
        background-color:rgba(255,255,255,0);
        color:white;
        font-family:sans-serif;
        font-weight: bold;
        border-radius: 5px;
        transition: background-color 1000ms, color 1000ms;
    }
    .register:hover{
        background-color:rgba(255,255,255,1);
        color:#222;
        cursor:pointer;
        transition: background-color 1000ms, color 1000ms;
    }
    
    .registerLink{
        text-decoration: none;
        display:block;
        padding:15px;
        color:rgb(255, 255, 255);
        transition: color 1000ms;
    }
    
    .registerLink:hover{
        color:black;
    }
    
    
    /* MODAL */
    
    .modal_container{
        width:100%;
        height:100%;
        pointer-events: none;
        opacity: 0;
        position:fixed;
        background:rgba(3, 83, 105, 0.8);
        transition:all 500ms ease;
    }
    
    .modal_container:target{
        opacity:1;
        pointer-events: auto;
    }
    
    .modal_container > div{
        transform: translate(0px, -50px);
        transition: all 500ms ease;
    }
    
    .modal_container:target > div{
        transform: translate(0px, 0px);
    }
    
    
    .modal{
        width:370px;
        height:540px;
        margin:auto;
        position: absolute;
        top:0px; bottom:0px;
        right:0px; left:0px;
        background:rgb(0, 0, 0, 0.8);
        padding:50px;

    }
    
    .modal_heading{
        box-sizing: border-box;
        width:100%;
        display:block;
        height:120px;
        margin-bottom:70px;
        color:yellow;
        padding:10px;
        text-align: center;
        font-size:20pt;
        font-family: 'Roboto', sans-serif;
        border-bottom: 1px solid rgb(157, 157, 157);
    }
    
    .entrar{
        color: rgb(214, 214, 214);
        padding: 0 0 20px;
        font-size: 30px;
        font-family: 'Roboto', sans-serif;
    }

    input{
        margin-bottom: 15px;
        padding:10px;
        width:100%;
        box-sizing: border-box;
        border-radius: 5px;
        height:50px;
        border:0px;
        font-family: georgia;
        font-size: 13pt;
        text-align: center;
        background-color: #333;
    }
    
    .btnRegister{
        background:rgb(190, 3, 3);
        color:rgb(255, 255, 255);
        font-size:15pt;
        margin-top:25px;
    }
    .btnRegister:hover{
        background:#830101;
    }
    .close{
        color:rgb(101, 101, 101);
        position: absolute;
        font-family: 'Roboto', sans-serif;
        background:black;
        text-decoration: none;
        top:8px;
        right:8px;
        border-radius: 50%;
        transition: background 500ms;
    }
    
    .close:hover{
        background:#444;
        cursor:pointer;
    }
    
    .signin{
        color:rgb(157, 157, 157);
        display:inline-block;
        margin-top:15px;
        text-align: left;
        float:left;
        text-decoration: none;
        font-size: 13pt;
    }
    .forgotPassword{
        color:rgb(157, 157, 157);
        display:inline-block;
        margin-top:15px;
        text-align: right;
        float:right;
        text-decoration: none;
        font-size: 13pt;
    }
    
    .signin:hover, .forgotPassword:hover{
        text-decoration: underline;
    }